<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baking.kondeg.udacity.edu.jokeproducer">

    <application>
        <activity
            android:name="buildit.kondeg.udacity.edu.joke.JokeActivity"
            android:label="@string/title_activity_joke"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>